body {
    background-color: #2C2F33;
    color: white;
}
#myHeader {
    background-color: lightblue;
    display:block;
    color: black;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
}



/* ----- Profile ----- */
#profile, .flip {
    display: block;
    /* border: solid 1px #a6d8a8; */
    color: white;
    padding: 10px 20px;
    margin: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 1.5;
}
div#profile p b {
    color:skyblue;
    font-size: 16px;
    font-family: "Times New Roman", serif;
}
#profile {
    display:none;
}



/* ----- Link Buttons ----- */
.button {
    transition: 0.2s;
}
a.button:link, a.button:visited {
    color: white;
    margin: 5px 20px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid 2px yellowgreen;
    border-radius: 5px;
}
a.button:hover, a.button:active {
    background-color: red;
}


/* ----- Lessons CSS ----- */
.note {
    background-color:rgba(0, 255, 0, 0.5);
    border-radius: 25px;
    padding: 15px;
    padding-left: 20px;
    color: white;
    margin: 20px;
}
.city {
    background-color: dodgerblue;
    color: white;
    border: 2px solid green;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
}
.cityTitle {
    color:tomato;
}
.bonjour {
    background: url(../images/bonjour.png) no-repeat;
    width: 640px;
    height: 627px;
    text-align: center;
}
